body{
  background-color : #1A9481;
}

.panel {
  background-color: #FDEEA7;
  margin:0% 10% 0% 10%;
  width: 50%;
  border-radius: 5px;
}

input, select{
  margin: 5px 20px;
  /*padding: 20px;*/
}

strong {
  margin: 5px 3px;
  /*padding: 20px;*/
}
.headTitle {
  /*float: center;*/
  margin: auto;
}

.errormsg{
  color: red;
}

.correctmsg {
  color: green;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
  background-color: #6A7059;
}
